## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.log

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## Secrets / Config overrides
appsettings.Development.json
*.pfx
*.p12

## OS
.DS_Store
Thumbs.db

## Rider / JetBrains
.idea/

## VS Code
.vscode/
